<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To do list bejelentkezés</title>
    <script src="../cont/login.js"></script>
    <script src="../cont/register.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="fooldal">
      <div class="reg">
        <form
          onsubmit="return fetchcall()"
          method="post" 
           
        >
          <input
            required
            type="text"
            name="reg_szoveg"
            id="reg_szoveg"
            placeholder="Felhasználó név"
            value="asd"
          />

          <input
            required
            type="text"
            name="reg_email"
            id="reg_email"
            placeholder="valami@mail.com"
            value="asd"
          />
          <input
            required
            type="text"
            name="reg_jelszo"
            id="reg_jelszo"
            placeholder="Jelszó"
            value="asd"
          />
          <input class="regisztracio" type="submit" value="Regisztráció" />
        </form>
      </div>
      <div class="bej">
        <form action="" method="post">
          <input
            required
            type="text"
            name="bej_email"
            id="bej_email"
            placeholder="valami@gmai.com"
          />

          <input
            required
            type="text"
            name="bej_jelszo"
            id="bej_jelszo"
            placeholder="Jelszó"
          />
          <button class="bejelentkezes">Bejentkezés</button>
        </form>
      </div>
    </div>
  </body>
</html>
