<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To do list</title>
    <script src="../cont/script.js"></script>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="cointainer">
      <div class="fooldal">
        <div class="reg">
          <label for="reg_szoveg"></label>
          <input
            type="text"
            name="reg_szoveg"
            id="reg_szoveg"
            placeholder="Felhasználó név"
          />
          <label for="reg_email"></label>
          <input
            type="text"
            name="reg_email"
            id="reg_email"
            placeholder="valami@mail.com"
          />
          <label for="reg_jelszo"></label>
          <input
            type="text"
            name="reg_jelszo"
            id="reg_jelszo"
            placeholder="Jelszó"
          />

          <button class="regisztracio">Regisztráció</button>
        </div>
        <div class="bej">
          <label for="bej_szoveg"></label>
          <input
            type="text"
            name="bej_szoveg"
            id="bej_szoveg"
            placeholder="Felhasználó név"
          />
          <label for="bej_jelszo"></label>
          <input
            type="text"
            name="bej_jelszo"
            id="bej_jelszo"
            placeholder="Jelszó"
          />
          <button class="bejelentkezes">Bejentkezés</button>
        </div>
      </div>
    </div>
  </body>
</html>
