<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To do list</title>
    <link rel="stylesheet" href="to_do.css" />
    <script src="../cont/to_do.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="add">
        <label for="add_szoveg">Ide írja a teendőjét</label>
        <input
          required
          type="text"
          name="add_szoveg"
          id="add_szoveg"
          placeholder="Mit kell csinálnom ma."
        />
        <button class="hozzaad">Hozzáadás</button>
      </div>
      <div class="lista"></div>
    </div>
  </body>
</html>
