* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 60rem;
  display: flex;
  justify-content: space-evenly;
  height: 50rem;
  border: solid black 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add {
  width: 45%;
  border: solid black 1px;
}
.lista {
  width: 45%;
  border: solid black 1px;
}
